{
	"trailingComma": "all",
	"semi": true,
	"singleQuote": false,
	"bracketSpacing": true,
	"arrowParens": "always",
	"printWidth": 120,
	"tabWidth": 4,
	"plugins": ["prettier-plugin-jsdoc"],
	"endOfLine": "auto"
}
